.txG-header-nav {
  background: white;

  .logo {
    &--wrap {
      color: #143752;
      font-weight: bold;
      font-size: 1.5em;
      line-height: 60px;
      height: 60px;
      margin-left: 1em;
      text-decoration: none;
      img {
        width: 250px;
        height: 60px;
      }
    }
  }
}
